<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <!-- HomeServlet -->
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RandomServlet</servlet-name>
        <jsp-file>/random.jsp</jsp-file>
    </servlet>
    <!-- RandomServlet -->
    <servlet-mapping>
        <servlet-name>RandomServlet</servlet-name>
        <url-pattern>/quiz/random</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BrowseServlet</servlet-name>
        <jsp-file>/browse.jsp</jsp-file>
    </servlet>
    <!-- BrowseServlet -->
    <servlet-mapping>
        <servlet-name>BrowseServlet</servlet-name>
        <url-pattern>/quiz/browse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewQuizServlet</servlet-name>
        <jsp-file>/admin/quiz.jsp</jsp-file>
    </servlet>
    <!-- NewQuizServlet -->
    <servlet-mapping>
        <servlet-name>NewQuizServlet</servlet-name>
        <url-pattern>/admin/quiz/new</url-pattern>
    </servlet-mapping>

</web-app>
