body {
    color: #b0b0b1;
    background: radial-gradient(ellipse at top, #1B2735 0%, #17141f 80%) fixed;
}

.wrapper {
    margin: 5% auto;
}

.quiz-home, .quiz-question, .quiz-skipped {
    width: 540px;
}

.quiz-summary {
    width: 380px;
}

.time-progress {
    background-color: #17141f !important;
    margin: 2% auto;
}

.checkbox-custom [type="checkbox"]:checked + label:before {
    border-color: transparent #2d97d1 #2d97d1 transparent;
}

.card-body, .list-group-item {
    color: #b0b0b1 !important;
    background-color: #1a1824 !important;
}

.form-check-label {
    margin: 0.5% 0;
}

.md-form {
    color: #ffffff !important;
}

#particles canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease;
}

#particles {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
}