body {
    color: #b0b0b1;
    background: radial-gradient(ellipse at top, #1b2135 0%, #17141f 80%) fixed;
}

input[type=text]:focus:not([readonly]) + label {
    color: #2d97d1 !important;
}

input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #2d97d1 !important;
    box-shadow: 0 1px 0 0 #2d97d1 !important;
}

input[type=password]:focus:not([readonly]) + label {
    color: #2d97d1 !important;
}

input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #2d97d1 !important;
    box-shadow: 0 1px 0 0 #2d97d1 !important;
}

input[type=number]:focus:not([readonly]) + label {
    color: #2d97d1 !important;
}

input[type=number]:focus:not([readonly]) {
    border-bottom: 1px solid #2d97d1 !important;
    box-shadow: 0 1px 0 0 #2d97d1 !important;
}

textarea:focus:not([readonly]) + label {
    color: #2d97d1 !important;
}

textarea:focus:not([readonly]) {
    border-bottom: 1px solid #2d97d1 !important;
    box-shadow: 0 1px 0 0 #2d97d1 !important;
}

.navbar {
    color: #b0b0b1;
    box-shadow: none;
}

.card-body, .list-group-item, .modal-content {
    color: #b0b0b1 !important;
    background-color: #181724 !important;
}

.form-check-label {
    margin: 0.5% 0;
}

.checkbox-custom [type="checkbox"]:checked + label:before {
    border-color: transparent #2d97d1 #2d97d1 transparent;
}

.wrapper {
    margin: 2% auto;
}

.quiz-home, .quiz-question, .quiz-skipped {
    width: 440px;
    margin-bottom: 5%;
}

.quiz-summary {
    width: 340px;
}

.time-progress {
    background-color: #17141f !important;
    margin: 2% auto;
}

#particles canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease;
}

#particles {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
}